body{
    background-color: greenyellow;
}
.gridcontainer{
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    margin-top: 100px;
        

}
.flexcontainer{
    display: flex;
    /* width: 45px; */
    /* height: 100px; */
    margin-top: 100px;
}
.raw{
    display: flex;
    /* justify-content:center; */
justify-content: flex-start;
    /* align-items:cen ; */
    margin-top: 100px;
}
.rab{
    display: flex;
    margin-top: 100px;
    justify-content: flex-end;
}
.rew{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}