body{
    background-image: linear-gradient( #6b5b95,#d64161,green);
}
.para1{
    text-align: center;
    /* color: blue; */
}
h1{
    text-align: center;
}
.shoes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px 70px;
    /* padding: 100px 500px 100px 500px; */
    /* border: 2px solid; */
    /* border-radius: 50px; */
  
}
 /* .shoe4{ 
    height: 200px;
    width: 200px; 
}  */
.shoe1{
     /* height: 200px; */
    /* width: 50%; */
      /* margin: 50px;  */
     border: 2px solid;
    /* height: 300px;
    /* width: 300px; */
    border-radius: 30px; 
    background-color: white;
    
}
.shoe1 img{
width: 200px;
height: 200px;
padding-left: 130px;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 130px;
/* margin: 20px; */
/* margin-top: 50px; */
}
/* .shoe2{
    height: 200px;
    width: 200px;
     border: 2px solid;
    border-radius: 70px;
}
.shoe3{
    height: 200px;
    width: 200px;
     border: 2px solid;
    border-radius: 70px;
}
.shoe5{
    height: 200px;
    width: 200px;
     border: 2px solid;
    border-radius: 70px;
}
.shoe6{
    height: 200px;
    width: 200px;
     border: 2px solid;
    border-radius: 70px;
}
.shoe7{
    height: 200px;
    width: 200px;
     border: 2px solid;
    border-radius: 70px;
} */
/* .shoe8{
    height: 150px;
    width: 200px;
     border: 2px solid;
    border-radius: 70px;
} */

.raw{
    text-align: center;
    /* color: violet; */
    margin: 5px;
    /* padding: 100px 100px 100px 100px; */
    /* height: 50px; */
    /* width: 50px; */
}
.para2{
    text-align: center;
}
.jordan{
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
}
.image{
    width: 200px;
    height: 50px;
}
@media only screen and (max-width:700px){
    .shoes{
        display: grid;
        grid-template-columns: auto auto ;
    }
    
}
@media only screen and (min-width:700px){
    .shoes{
        display: grid;
        grid-template-columns: auto auto auto;
}
}
